/* -------------- */
/* Select */
/* -------------- */
::ng-deep .mat-select-panel mat-option{
  font-size: 13px !important;
  height: 35px !important;
  border-bottom: 1px solid var(--very-light-pink) !important;
}
