.branchesContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.branchCircle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 2px;
}
