<!----------------------->
<!-- page container -->
<div class="container-fluid fullHeight">
  <!----------------------->
  <!-- actions row -->
  <div class="row">
    <!----------------------->
    <!-- title -->
    <div class="col-12 col-sm-4 col-md-6 col-xl-8 pageTitleCell clientsFormItem">
      <h2 class="blueText">Notas</h2>
    </div>
    <!----------------------->
    <!-- clients filter -->
    <div class="col-6 col-sm-3 col-md-3 col-xl-2 clientsFormItem">
      <div class="searchbar" (click)="search.focus()">
        <mat-icon matPrefix class="fsize22">search</mat-icon>
        <input type="text" matInput placeholder="Buscar..." #search [formControl]="searchbar">
        <button type="button" class="searchbarSuffix fsize22" *ngIf="searchbar.value" matSuffix aria-label="Clear" (click)="searchbar.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <!----------------------->
    <!-- new product button -->
    <div class="col-6 col-sm-3 col-md-3 col-xl-2 clientsFormItem" >
      <button type="button" class="blueButton fullWidth" matRipple (click)="newNote()">
        <mat-icon>add_circle_outline</mat-icon>
        <p>Nueva Nota</p>
      </button>
    </div>
  </div>

  <!----------------------->
  <!-- loading spinner -->
  <div class="tableLoaderContainer smallLoaderComponent" *ngIf="firstLoad">
    <mat-spinner></mat-spinner>
  </div>

  <!----------------------->
  <!-- not found container -->
  <div #noData>
    <!----------------------->
    <!-- not found message -->
    <div class="tableLoaderContainer smallLoaderComponent fadeIn" *ngIf="!firstLoad">
      <p>Informacion no encontrada</p>
    </div>
  </div>

  <!----------------------->
  <!-- loading bar -->
  <div class="loaderWrapper">
    <mat-progress-bar mode="indeterminate" class="loadProgress" *ngIf="(dataSource.loading$ | async) && !firstLoad"></mat-progress-bar>
  </div>

  <!----------------------->
  <!-- data container (MOBILE) -->
  <div #displayData class="fadeIn hidden">
    <!----------------------->
    <!-- table card -->
    <div class="tableCard" id="notesCard">
      <div class="tableWrapper">
        <div class="tableFixer clientNotesFixer">
          <!----------------------->
          <!-- table -->
          <mat-table class="personalizedTable" [dataSource]="dataSource" matSort multiTemplateDataRows (matSortChange)="loadTableData(searchbar.value, false, $event)">
            <!----------------------->
            <!-- date -->
            <ng-container cdkColumnDef="createdAt">
              <mat-header-cell *cdkHeaderCellDef class=" headerCell" mat-sort-header>FECHA</mat-header-cell>
              <mat-cell *cdkCellDef="let row" class=" pointer" (click)=" expandedElement = expandedElement !== row ? row : {};">
                <p class="cut-text tableText">
                  {{row.createdAt ? row.createdAt : 'N/A'}}
                </p>
              </mat-cell>
            </ng-container>
            <!----------------------->
            <!-- client -->
            <!--
            <ng-container cdkColumnDef="clientId">
              <mat-header-cell *cdkHeaderCellDef class="nameCell headerCell" mat-sort-header>CLIENTE</mat-header-cell>
              <mat-cell *cdkCellDef="let row" class="cellPadding nameCell pointer" (click)=" expandedElement = expandedElement !== row ? row : {};">
                <p class="cut-text tableText">
                  {{row.client ? row.client.name : 'N/A'}}
                </p>
              </mat-cell>
            </ng-container>
            -->
            <!----------------------->
            <!-- creator -->
            <!--
            <ng-container cdkColumnDef="ownerId">
              <mat-header-cell *cdkHeaderCellDef class="nameCell headerCell" mat-sort-header>CREADOR</mat-header-cell>
              <mat-cell *cdkCellDef="let row" class="cellPadding nameCell pointer" (click)=" expandedElement = expandedElement !== row ? row : {};">
                <p class="cut-text tableText">
                  {{row.owner ? row.owner.name : 'N/A'}}
                </p>
              </mat-cell>
            </ng-container>
            -->
            <!----------------------->
            <!-- comments -->
            <ng-container cdkColumnDef="subject">
              <mat-header-cell *cdkHeaderCellDef class="headerCell">ASUNTO</mat-header-cell>
              <mat-cell *cdkCellDef="let row" class="cellPadding pointer" (click)=" expandedElement = expandedElement !== row ? row : {};">

                <div class="htmlPadd5">
                  <div class="rowHtmlContainer" [innerHTML]="row.subject"></div>
                </div>
              </mat-cell>
            </ng-container>
            <!----------------------->
            <!-- reminders -->
            <ng-container cdkColumnDef="reminders">
              <mat-header-cell *cdkHeaderCellDef class="reminderCell headerCell" mat-sort-header>RECORDATORIO</mat-header-cell>
              <mat-cell *cdkCellDef="let row" class="cellPadding reminderCell" (click)=" expandedElement = expandedElement !== row ? row : {};">
                <p class="cut-text tableText">
                  {{row.hasReminder ? (row.formattedReminderDate + ', ' + row.formattedReminderTime) : 'N/A'}}
                </p>
              </mat-cell>
            </ng-container>
            <!----------------------->
            <!-- button -->
            <ng-container cdkColumnDef="button">
              <mat-header-cell *cdkHeaderCellDef class="buttonCell headerCell"></mat-header-cell>
              <mat-cell *cdkCellDef="let row" class="buttonCell">
                <button type="button" class="whiteButton tableButton" matRipple (click)="openNote(row)">
                  <mat-icon color="primary">edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <!----------------------->
            <!-- Expanded Content Column - The detail row is made up of this one column -->
            <ng-container matColumnDef="expandedDetail">
              <mat-cell *cdkCellDef="let detail" class="clientDetailCell">
                <div class="row fullWidth">
                  <!----------------------->
                  <!-- See note type -->

                  <div class="col-12 detailsRowContainer margb5">
                    <p class="inputLabel noteTypeTitle">Asunto: <span class="margL5 tableText">{{setNoteType(detail)}}</span></p>
                    <!--
                    <div class="quickEditContainer">
                      <p class="tableText margR5">Ver participantes</p>
                      <button type="button" class="whiteButton tableButton" matRipple (click)="openParticipants(detail)">
                        <mat-icon class="tagsIcon" [matTooltip]="'Ver todos los participantes de esta nota'">launch</mat-icon>
                      </button>
                    </div>
                    -->
                  </div>

                  <!----------------------->
                  <!-- Edit comments text -->
                  <div class="col-12 detailsRowContainer margb5">
                    <p class="cut-text inputLabel margb5">Comentarios</p>
                    <div class="quickEditContainer">
                      <p class="tableText margR5">Editar contenido rapido</p>
                      <button type="button" class="whiteButton tableButton" matRipple (click)="openNote( detail )">
                        <mat-icon class="tagsIcon">text_format</mat-icon>
                      </button>
                    </div>
                  </div>
                  <!----------------------->
                  <!-- Comments text -->
                  <div class="col-12 noteContainer" [innerHTML]="detail.htmlComments"></div>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *cdkRowDef="let row;columns: displayedColumns;"
                     class="element-row notesRow"
                     [class.expanded]="expandedElement == row" matRipple></mat-row>
            <mat-row *cdkRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                     [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
                     style="overflow: hidden" [className]="row == expandedElement ? 'expandedRow' : 'collapsedRow'">
            </mat-row>
          </mat-table>
        </div>
      </div>
    </div>
    <!----------------------->
    <!-- mat-table paginator -->
    <mat-paginator class="out-paginator"
                   [length]="tableCount"
                   [pageSize]="25"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   (page)="loadTableData(searchbar.value, false, $event)">
    </mat-paginator>
  </div>

</div>
